<h3>Suppliers</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
  </tr>

  <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.code %></td>
      </tr>
  <% end %>
</table>

<%= paginate @suppliers %>
