<h3>Units</h3>
<table>
  <tr>
    <th>SKU</th>
    <th>Supplier code</th>
    <th>Name</th>
    <th>Price</th>
  </tr>

  <% @units.each do |sku| %>
      <tr>
        <td><%= sku.sku %></td>
        <td><%= sku.supplier_code %></td>
        <td><%= sku.name %></td>
        <td><%= sku.price %></td>
      </tr>
  <% end %>
</table>

<%= paginate @units %>
